<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
	body

		ul
		 	li.item1  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis nam dignissimos ipsum rem similique reprehenderit alias id iste sapiente nostrum?
		 	li.item2
		 	li.item3
		 	li.item4 lerome10
		ul
			li
			li
			li
			li
		ul
			item 01  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, aspernatur.
			item 02  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, aspernatur.
			item 03  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, aspernatur.
			item 04  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, aspernatur.
