.gb-top-block .text-area-content {
  background: #fff;
}
html body .kaiser .main-content .thrive-u section.featured-article .kiwi-grid .kiwi-col.color-0079aa .colored-box {
  background: #0079aa;
}
html body .kaiser .main-content .thrive-u section.featured-article .kiwi-grid .kiwi-col.color-ef5574 .colored-box {
  background: #ef5574;
}
html body .kaiser .main-content .thrive-u section.featured-article .kiwi-grid .kiwi-col.color-00a09b .colored-box {
  background: #00a09b;
}
html body .kaiser .main-content .thrive-u section.featured-article .kiwi-grid .kiwi-col.color-e6661f .colored-box {
  background: #e6661f;
}
html body .kaiser .main-content .thrive-u section.featured-article .kiwi-grid .kiwi-col.color-56a635 {
  background: #56a635;
}
html body .kaiser .main-content .thrive-u section.featured-article .kiwi-grid .kiwi-col:hover.color-0079aa .colored-box,
html body .kaiser .main-content .thrive-u section.featured-article .kiwi-grid .kiwi-col:hover.color-0079aa .hover-bg-holder {
  background: #0079aa;
}
html body .kaiser .main-content .thrive-u section.featured-article .kiwi-grid .kiwi-col:hover.color-ef5574 .colored-box,
html body .kaiser .main-content .thrive-u section.featured-article .kiwi-grid .kiwi-col:hover.color-ef5574 .hover-bg-holder {
  background: #ef5574;
}
html body .kaiser .main-content .thrive-u section.featured-article .kiwi-grid .kiwi-col:hover.color-00a09b .colored-box,
html body .kaiser .main-content .thrive-u section.featured-article .kiwi-grid .kiwi-col:hover.color-00a09b .hover-bg-holder {
  background: #00a09b;
}
html body .kaiser .main-content .thrive-u section.featured-article .kiwi-grid .kiwi-col:hover.color-e6661f .colored-box,
html body .kaiser .main-content .thrive-u section.featured-article .kiwi-grid .kiwi-col:hover.color-e6661f .hover-bg-holder {
  background: #e6661f;
}
html body .kaiser .main-content .thrive-u section.featured-article .kiwi-grid .kiwi-col:hover.color-56a635 .colored-box,
html body .kaiser .main-content .thrive-u section.featured-article .kiwi-grid .kiwi-col:hover.color-56a635 .hover-bg-holder {
  background: #56a635;
}
html body .kaiser .main-content .locate-facility section.map-container .map-container-map .map-list-location-container {
  background: #fff;
}
.kaiser .main-content .medicaid .tabs .tab:first-child .tab__title {
  left: 24%;
}
.pagination-block__next {
  height: 32px;
  padding-top: 5px;
}
.kaiser .main-content .medicaid .tabs .tab .tab__title_last {
  margin-left: -4px;
}
.gb-content-width.p20 {
  max-width: 940px !important;
}
.zip-search button {
  padding: 6px 15px 9;
}
