.pop-info,.show-big-video-transition{
  display:block
}
.pop-info-transition,.show-big-video{
  display:none
}
.main-content .stories .story hr{
  margin-left:-370px;
}
img{
  border:0;
}
.main-content .video img
{
  width:240px;
}
